.logincard{
    
    background-image:url('../../assets/image/bg.jpg');
    margin: 0px auto;
     width: 40%;
     /* color: rgb(34, 240, 240); */
 
}
.log{
     text-align: center;
     font-size: 40px;
}
.inputfield{
    width: 55%;
    margin: 0px auto;
}
.butlog {
  width:20%;
  margin-bottom: 20px;

}
.invalid{
  width:45%;
  margin: 0px auto;
  text-align: center;
}
.login-bgd{
  margin-top: 70px;
  
 
}
